.headtable{
    background-color: green !important;
}
.maincolor{
    color: #00ADB5;
}
.imageButton{
    background-color:#00ADB5 ;
    border-radius: 7px;
    color: white;
    border-color: rgb(10, 207, 241);
    border-width: 3px;
    padding: 10px;
}
.imageButton:hover{
    transform: translateY(0.3rem);
    background-color: white;
    color:#00ADB5 ;
}
.iconButton{
    background-color:white;
    border-radius: 7px;
    border-color: rgb(10, 207, 241);
    border-width: 3px;
    padding: 10px;
}
.searchInput{
    width:fit-content;
    height: 3rem;
    border-radius: 1rem;
    background-color: #00ADB5;
    border-color: rgb(10, 207, 241);
    color: white;
    font-size: large;
    padding: 10px;
}
.formGroup{
    margin: 12px;
}
.lable{
    font-size: large;
  color: #00ADB5;
  margin: 4px;
}
.label{
    font-size: large;
  color: #00ADB5;
  margin: 8px;
}
.modal{
    width:100%
}
.mymodal {
    width: 90vw;
    max-width: 90vw;
} 
.formInput{
    margin-right: 9rem;
    padding: 1rem;
}