.maincolor{
    color: #00ADB5;
}
.logo{
    color: #00ADB5;
    font-size: larger;
    font-family: cursive;
}

.homeIcon{
    color:red
}

.searchIcon{
    color:red
}
.link{
    color: white;
    text-decoration: none;
}
.link:hover{
    color: #00ADB5 !important;
}


.subnav {
    position: relative;
    display: inline-block;
  }
  
  .subnav-content {
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    top: 100%;
    left: 0;
  }
  
  .subnav-content Link {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .subnavcontent Link:hover {
    background-color: #ddd;
  }
  
  .subnavbtn {
    background-color: #4caf50;
    color: white;
  }