.maincolor{
    color: #00ADB5;
}
.imageButton{
    background-color:#00ADB5 ;
    border-radius: 1rem;
    color: white;
    border-color: rgb(10, 207, 241);
    border-width: 3px;
    padding: 10px;
}
.imageButton:hover{
    transform: translateY(0.3rem);
    background-color: white;
    color:#00ADB5 ;
}
.iconButton{
    background-color:white;
    border-radius: 7px;
    border-color: rgb(10, 207, 241);
    border-width: 3px;
    padding: 10px;
    margin-right: 3px;
}
.searchInput{
    width:24rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: #00ADB5;
    border-color: rgb(10, 207, 241);
    color: white;
    font-size: large;
}
.formGroup{
    margin: 12px;
}
.datelable{
    font-size: large;
  color: green;
  margin: 4px;
}